Language: Cpp
Standard: c++17

AlignOperands: AlignAfterOperator
AllowAllConstructorInitializersOnNextLine: true
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
CompactNamespaces: false
FixNamespaceComments: true
IndentExternBlock: AfterExternBlock
IndentPPDirectives: BeforeHash
SortIncludes: false
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
TabWidth: 4
UseTab: ForContinuationAndIndentation